// @import "blocks/achievements.scss";

.achievements {
  @media (min-width: $tablet-width) {
    order: 3;
  }
}

.achievements__fieldset {
  @media (min-width: $tablet-width) {
    padding-bottom: 61px;
  }
}

.achievements__text {
  margin-bottom: 55px;
  width: 252px;

  @media (min-width: $tablet-width) {
    width: 436px;
  }
}

.achievements__item {
  margin-bottom: 69px;
}
