// @import "blocks/copyright.scss";

.copyright {
  display: flex;
  justify-content: space-between;
  width: 130px;
  margin: auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 153px;
  }
}

.copyright__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-self: center;

  @media (min-width: $tablet-width) {
    align-self: flex-start;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.copyright__link {
  align-self: center;

  @media (min-width: $tablet-width) {
    align-self: flex-start;
    margin-top: 10px;
  }
}

.copyright__link:hover path,
.copyright__link:focus path {
  fill: $menu-color;
}

.copyright__link:active path {
  fill: $menu-color;
  opacity: 0.3;
}
