// @import "blocks/day.scss";


.day {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    z-index: 2;
    position: relative;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    background-color: $lightgrey;
  }
}

.day__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 602px;
  margin: 0 auto;
  padding: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 147px;
    margin-top: -32px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 39% 61%;
    width: 940px;
    margin-bottom: 193px;
    padding-bottom: 110px;
  }
}

.day__title {
  width: 180px;
  margin: 0;
  margin-top: 75px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;

  @media (min-width: $desktop-width) {
    width: 298px;
    line-height: 30px;
    margin-bottom: 24px;
  }
}

.day__text {
  width: 300px;
  margin: 0;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $menu-color;

  @media (min-width: $desktop-width) {
    width: 534px;
    margin-bottom: 31px;
    font-size: 18px;
    line-height: 30px;
  }
}

.day__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $pink;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.day__img::before {
  content: "";
  position: absolute;
  top: 53px;
  left: 12px;
  width: 238px;
  height: 276px;
  background-image: url("../img/day-tablet.svg");
  background-repeat: no-repeat;


  @media (min-width: $desktop-width) {
    top: -3px;
    left: 20px;
    width: 298px;
    height: 345px;
    background-image: url("../img/day-desktop.svg");
  }
}

.day__br-for-tablet {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}
