// @import "blocks/form-styles.scss";


.form__title-container {
  background-color: $blueblack;
}

.form__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $white;
  margin: 0 auto;
  width: 230px;
  text-align: center;
  padding-top: 36px;
  padding-bottom: 51px;
}

.form__title-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $menu-color;
  margin: 0 auto;
  padding: 0;
  margin-top: 54px;
  margin-bottom: 55px;
  width: 280px;
}

.form__group {
  width: 280px;
  border: none;
  padding: 0;
  margin: 0 auto;
}

.form__wrapper {
  background-color: $lightgrey;
}

.form__list {
  @include list-style;
}

.form__label {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $pink;
  text-transform: uppercase;
  margin-left: 20px;
}

.form__input {
  padding: 23px 78px 23px 20px;
}

.form__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $pink;
  text-align: center;
}

.achievements,
.operating-system {
  background-color: $lightgrey;
}

.form__label-switch {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $menu-color;
}

.form__button {
  @include button-style;
}

.form__required-fields {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $menu-color;
}

.form__required-fields span {
  color: $pink;
}
