// @import "blocks/form.scss";


.form__title-container {
  z-index: -1;
  position: relative;
  padding-top: 66px;
  margin-top: -66px;
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-color: $blueblack;
  background-size: cover;

  @media (min-width: $tablet-width) {
    padding-top: 110px;
    margin-top: -110px;
    background-image: url("../img/back-tablet.png");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    padding-top: 110px;
    margin-top: -110px;
    background-image: url("../img/back-desktop.png");
    background-repeat: no-repeat;
  }
}

.form__title {
  width: 230px;
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 51px;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    width: 620px;
    font-size: 50px;
    line-height: 68px;
    padding-top: 70px;
    padding-bottom: 58px;
  }
}

.form__title-text {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  margin-top: 54px;
  margin-bottom: 55px;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $menu-color;

  @media (min-width: $tablet-width) {
    width: 490px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 756px;
  }
}

.form__title-text-tablet {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: $menu-color;
  }

  @media (min-width: $tablet-width) {
    margin-left: 5px;
  }
}

// Общие стили формы

.form__group {
  width: 280px;
  padding: 0;
  margin: 0 auto;
  padding-bottom: 44px;

  @media (max-width: $mobile-width-only) {
    border: none;
  }

  @media (min-width: $tablet-width) {
    width: 620px;
    padding: 0;
    margin-bottom: 70px;
    border: 2px solid $grey;
  }
}

.form__inner-for-tablet {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 936px;
    margin: 0 auto;
    padding-left: 132px;
    padding-right: 132px;
  }
}

.form__list {
  @include list-style;

  @media (min-width: $tablet-width) {
    width: 620px;
  }
}

.form__item {
  @media (min-width: $tablet-width) {
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.form__label {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $pink;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.form__input {
  padding: 23px 20px 23px 20px;
  border: 2px solid $grey;
  border-radius: 1px;
}

.form__input::placeholder {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $menu-color;
}

.form__text {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $pink;

  @media (min-width: $tablet-width) {
    line-height: 30px;
  }
}

// Для блоков с достижениями и приложениями


.form__wrapper {
  padding-top: 42px;
  margin-bottom: 55px;

  @media (max-width: $mobile-width-only) {
    background-color: $lightgrey;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0 auto;
  }
}

.form__label-switch {
  position: relative;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $menu-color;
  margin-left: 57px;

  @media (min-width: $desktop-width) {
    margin-left: 70px;
  }
}

// Псевдоэлементы чекбокса достижений


.form__input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -57px;
  width: 40px;
  height: 40px;
  background-image: url("../img/form/checkbox-off.svg");
  background-repeat: no-repeat;
}

.form__input-checkbox:hover + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -57px;
  width: 40px;
  height: 40px;
  background-image: url("../img/form/checkbox-hover.svg");
  background-repeat: no-repeat;
}

.form__input-checkbox:active + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -57px;
  width: 40px;
  height: 40px;
  background-image: url("../img/form/checkbox-down.svg");
  background-repeat: no-repeat;
}

.form__input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -47px;
  width: 40px;
  height: 40px;
  background-image: url("../img/form/checkbox-tick.svg");
  background-repeat: no-repeat;
}

// Псевдоэлементы радио-кнопок

.form__input-radio + label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -57px;
  width: 42px;
  height: 42px;
  background-image: url("../img/form/radio-off.svg");
  background-repeat: no-repeat;
}

.form__input-radio:hover + label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -57px;
  width: 42px;
  height: 42px;
  background-image: url("../img/form/radio-hover.svg");
  background-repeat: no-repeat;
}

.form__input-radio:active + label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -57px;
  width: 42px;
  height: 42px;
  background-image: url("../img/form/radio-down.svg");
  background-repeat: no-repeat;
}

.form__input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -43px;
  width: 42px;
  height: 42px;
  background-image: url("../img/form/ellipse-small.svg");
  background-repeat: no-repeat;
}


// Стили ФИО


.form__group--username {
  @media (min-width: $tablet-width) {
    order: 1;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 431px;
    margin: 0;
    margin-right: 74px;
  }
}

.form__list--username {
  @media (min-width: $desktop-width) {
    width: 431px;
  }
}

.form__item--username {
  margin-bottom: 29px;
  display: flex;
  flex-direction: column;


  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    margin-bottom: 56px;
    margin-left: 0;
  }
}

.form__input--name {
  @media (min-width: $tablet-width) {
    width: 561px;
  }

  @media (min-width: $desktop-width) {
    width: 376px;
  }
}

.form__input--family {
  @media (min-width: $tablet-width) {
    width: 521px;
  }

  @media (min-width: $desktop-width) {
    width: 366px;
  }
}

.form__input--patronymic {
  @media (min-width: $tablet-width) {
    width: 521px;
  }

  @media (min-width: $desktop-width) {
    width: 366px;
  }
}

.form__label--family {
  margin-left: 22px;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.form__label--name {
  margin-left: 22px;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.form__label--patronymic {
  margin-left: 22px;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
    margin-left: 0;
    margin-bottom: 0;
  }
}


// Для блока с выбором приложения


.form__wrapper--application {
  @media (min-width: $tablet-width) {
    order: 2;
  }

  @media (min-width: $desktop-width) {
    width: 431px;
    margin: 0;
    margin-top: -15px;
  }
}

.form__group--application {
  @media (min-width: $tablet-width) {
    padding-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    width: 431px;
  }
}

.form__text--application {
  margin-bottom: 52px;

  @media (min-width: $tablet-width) {
    width: 368px;
  }
}

.form__list--application {
  @media (min-width: $desktop-width) {
    width: 431px;
  }
}

.form__item--radio {
  margin-bottom: 62px;
}

//  Для блока контактная информация


.form__group--form-contacts {
  @media (min-width: $tablet-width) {
    order: 3;
    padding-top: 41px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 100%;
    margin-bottom: 69px;
  }
}

.form__text--contacts {
  @media (max-width: $mobile-width-only) {
    display: none;
  }


  @media (min-width: $tablet-width) {
    width: 260px;
  }
}

.form__list--container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 493px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    width: 816px;
    justify-content: space-between;
  }
}

.form__item--contacts {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 433px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.form__item--contacts:nth-child(1) {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 29px;
  }
}

.form__label--phone {
  margin-left: 22px;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    order: 2;
    margin-bottom: 41px;
    margin-left: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
    margin-left: 18px;
  }
}

.form__label--email {
  margin-left: 22px;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    order: 2;
    margin-bottom: 37px;
    margin-left: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
    margin-left: 18px;
  }
}

.form__input--contacts {
  @media (min-width: $tablet-width) {
    order: 1;
    margin-bottom: 22px;
    padding-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    padding: 23px 178px 16px 20px;
  }
}

.form__list--container .form__item:nth-child(1)::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    width: 59px;
    height: 59px;
    background-image: url("../img/form/phone-icon.svg");
  }
}

.form__list--container .form__item:nth-child(2)::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    width: 59px;
    height: 59px;
    background-image: url("../img/form/mail-icon.svg");
  }
}


// Блок достижения


.form__wrapper--achievements {
  @media (min-width: $tablet-width) {
    order: 4;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form__group--achievements {
  @media (min-width: $tablet-width) {
    padding-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form__text--achievements {
  margin-bottom: 55px;
  width: 252px;

  @media (min-width: $tablet-width) {
    width: 436px;
  }
}

.form__list--achievements {
  @media (min-width: $desktop-width) {
    width: 816px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__item--achievements {
  margin-bottom: 69px;

  @media (min-width: $desktop-width) {
    width: 33%;
  }
}

.form__item--achievements:nth-child(1) {
  order: 1;
}

.form__item--achievements:nth-child(2) {
  order: 4;
}

.form__item--achievements:nth-child(3) {
  order: 2;
}

.form__item--achievements:nth-child(4) {
  order: 5;
}

.form__item--achievements:nth-child(5) {
  order: 3;
}

.form__item--achievements:nth-child(6) {
  order: 6;
}


// Стили для блока с описанием эмоций


.form__group--emotions {
  order: 5;
  padding-bottom: 52px;
  //margin-bottom: 52px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form__text--emotions {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    width: 260px;
  }
}

.form__emotions {
  padding: 22px 21px 132px 20px;
  border: 2px solid $grey;
  border-radius: 1px;
  resize: none;

  @media (min-width: $tablet-width) {
    padding: 22px 245px 132px 20px;
    margin-left: 60px;
    margin-bottom: 53px;
    margin-top: 47px;
  }

  @media (min-width: $desktop-width) {
    padding: 22px 547px 94px 20px;
  }
}

.form__emotions::placeholder {
  width: 240px;
  align-items: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $menu-color;

  @media (min-width: $tablet-width) {
    width: 460px;
  }
}


// Кнопка отправки формы, обязательные поля


.form__button {
  @include button-style;
  margin-bottom: 46px;
  padding: 23px 45px 23px 45px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.form__required-fields {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  margin-left: 45px;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $menu-color;

  @media (min-width: $tablet-width) {
    margin: 0;
    align-self: center;
  }
}

.form__required-fields span {
  color: $pink;
}

.form__group--button {
  @media (min-width: $tablet-width) {
    width: 620px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border: none;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}
