// @import "blocks/form.scss";


.form__title-container {
  z-index: -1;
  position: relative;
  padding-top: 66px;
  margin-top: -66px;
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-color: $blueblack;

  @media (min-width: $tablet-width) {
    padding-top: 110px;
    margin-top: -110px;
    background-image: url("../img/back-tablet.png");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    padding-top: 110px;
    margin-top: -110px;
    background-image: url("../img/back-desktop.png");
    background-repeat: no-repeat;
  }
}

.form__title {
  width: 230px;
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 51px;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    width: 620px;
    font-size: 50px;
    line-height: 68px;
    padding-top: 70px;
    padding-bottom: 58px;
  }
}

.form__title-text {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  margin-top: 54px;
  margin-bottom: 55px;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $menu-color;

  @media (min-width: $tablet-width) {
    width: 490px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 756px;
  }
}

.form__inner-for-tablet {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form__title-text-tablet {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: $menu-color;
  }
}

.form__group {
  width: 280px;
  padding: 0;
  margin: 0 auto;
  padding-bottom: 44px;

  @media (max-width: $mobile-width-only) {
    border: none;
  }

  @media (min-width: $tablet-width) {
    width: 620px;
    padding: 0;
    margin-bottom: 70px;
    border: 2px solid $grey;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.form__wrapper {
  padding-top: 42px;
  margin-bottom: 55px;

  @media (max-width: $mobile-width-only) {
    background-color: $lightgrey;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0 auto;
  }
}

.form__inner-application {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.form__list {
  @include list-style;

  @media (min-width: $tablet-width) {
    width: 620px;
  }
}

.form__item {
  @media (min-width: $tablet-width) {
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.form__label {
  margin-left: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $pink;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}

.form__input {
  padding: 23px 89px 23px 20px;

  @media (min-width: $tablet-width) {
    padding: 23px 310px 23px 20px;
  }

  @media (min-width: $tablet-width) {
    padding: 23px 178px 23px 20px;
  }
}

.form__description {
  padding: 22px 21px 132px 20px;

  @media (min-width: $tablet-width) {
    padding: 22px 21px 132px 20px;
  }
}

.form__input::placeholder {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $menu-color;
}

.form__description::placeholder {
  align-items: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $menu-color;
}

.form__text {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $pink;

  @media (min-width: $tablet-width) {
    line-height: 30px;
  }
}

.form__text--contacts {
  @media (max-width: $mobile-width-only) {
    display: none;
  }


  @media (min-width: $tablet-width) {
    width: 260px;
  }
}

.form__contacts-container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
  }
}

.form__application {
  @media (min-width: $tablet-width) {
    padding-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    width: 435px;
  }
}

.form__text--application {
  margin-bottom: 52px;

  @media (min-width: $tablet-width) {
    width: 368px;
  }
}

.form__emotions {
  padding-bottom: 53px;
  margin-bottom: 52px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }
}

.form__text--emotions {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    width: 260px;
  }
}

.form__item--radio {
  margin-bottom: 62px;
}

.form__label-switch {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $menu-color;
}

.form__button {
  @include button-style;
  margin-bottom: 46px;
  padding: 23px 45px 23px 45px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.form__required-fields {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  margin-left: 45px;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $menu-color;

  @media (min-width: $tablet-width) {
    margin: 0;
    align-self: center;
  }
}

.form__required-fields span {
  color: $pink;
}

.form__rtx {
  @media (min-width: $tablet-width) {
    width: 620px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}
