// @import ("blocks/information.scss");


.information {
  z-index: 0;
}

.information__text-container {
  width: 280px;
  margin: auto;
  margin-top: 42px;
  margin-bottom: 70px;

  @media (min-width: $tablet-width) {
    width: 588px;
    margin: 0 auto;
    margin-top: 42px;
    margin-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
    margin: 0 auto;
    margin-top: 57px;
    margin-bottom: 66px;
  }
}

.information__header-text:nth-child(1) {
  margin-bottom: 29px;


  @media (min-width: $tablet-width) {
    width: 588px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
  }
}

.information__header-text:nth-child(2) {
  @media (min-width: $tablet-width) {
    width: 342px;
  }

  @media (min-width: $desktop-width) {
    width: 720px;
    margin-bottom: -10px;
  }
}

.information__header-text {
  width: 280px;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: $menu-color;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.information__list-container {
  padding-bottom: 49px;
  background-color: $lightgrey;
  position: relative;
}

.information__list-container::before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 95px;
  background-image: linear-gradient(177deg, $white 23%, $lightgrey 23%);

  @media (min-width: $tablet-width) {
    z-index: 0;
    background-image: linear-gradient(176deg, $white 48%, $lightgrey 23%);
  }

  @media (min-width: $desktop-width) {
    top: -20px;
    background-image: linear-gradient(177deg, $white 45%, $lightgrey 23%);
  }
}

.information__list {
  @include list-style;
  text-align: center;
  padding-top: 43px;

  @media (min-width: $tablet-width) {
    width: 310px;
    margin: 0;
    margin-left: auto;
    padding-top: 88px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 887px;
    margin: 0 auto;
    padding: 0;
  }
}

.information__item h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: $black;
  margin: 0;
  text-align: center;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    width: 240px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 22px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }
}

.information__description {
  margin: 0;
  margin-bottom: 31px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $menu-color;

  @media (min-width: $tablet-width) {
    width: 310px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    width: 248px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}

.information__world-br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}


.information__item:not(:last-child) {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

// Изображения айфонов

.information__iphone-mood {
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.information__iphone-world {
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.information__iphone {
  @media (min-width: $tablet-width) {
    z-index: 0;
    position: absolute;
    right: 353px;
    top: -356px;
    width: 268px;
    height: 547px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    width: 186px;
    height: 382px;
  }
}

.information__item {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.information__item div {
  @media (min-width: $desktop-width) {
    order: 2;
    z-index: 2;
  }
}

.information__item img {
  @media (min-width: $desktop-width) {
    order: 1;
    z-index: 0;
    align-self: center;
    margin-bottom: -35px;
  }
}

// Псевдоэлементы и Тени для телефонов

.information__item:nth-child(3) {
  position: relative;
}

.information__item:nth-child(3)::before {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 302px;
    width: 100%;
    height: 95px;
    background-color: $lightgrey;
  }
}

// Тень

.information__item:nth-child(3)::after {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    top: 299px;
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 49.8%, rgba(0, 0, 0, 0) 93.23%);
    opacity: 0.3;
    filter: blur(4px);
  }
}

.information__item:nth-child(2) {
  position: relative;
}

.information__item:nth-child(2)::before {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 302px;
    width: 100%;
    height: 95px;
    background-color: $lightgrey;
  }
}

// Тень

.information__item:nth-child(2)::after {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    top: 299px;
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 49.8%, rgba(0, 0, 0, 0) 93.23%);
    opacity: 0.3;
    filter: blur(4px);
  }
}

.information__item:nth-child(1) {
  position: relative;
}

.information__item:nth-child(1)::before {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 302px;
    width: 100%;
    height: 95px;
    background-color: $lightgrey;
  }
}

// Тень

.information__item:nth-child(1)::after {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    top: 299px;
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 49.8%, rgba(0, 0, 0, 0) 93.23%);
    opacity: 0.3;
    filter: blur(4px);
  }
}
