// @import ("blocks/information.scss");


.information__text-container {
  display: flex;
  flex-direction: column;
  width: 280px;
  justify-content: space-between;
  margin: auto;
  margin-top: 46px;
  margin-bottom: 70px;

  @media (min-width: $tablet-width) {
    width: 588px;
    margin: 0 auto;
    margin-top: 58px;
    margin-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
    margin: 0 auto;
    margin-top: 77px;
    margin-bottom: 66px;
  }
}

.information__header-text:nth-child(1) {
  @media (min-width: $tablet-width) {
    width: 588px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
  }
}

.information__header-text:nth-child(2) {
  @media (min-width: $tablet-width) {
    width: 342px;
  }

  @media (min-width: $desktop-width) {
    width: 720px;
  }
}

.information__header-text {
  width: 280px;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: $menu-color;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.information__list-container {
  background-color: $lightgrey;
}

.information__list {
  @include list-style;
  text-align: center;
  padding-top: 53px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 330px;
    padding-top: 103px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 877px;
    margin: 0 auto;
  }
}

.information__item h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: $black;
  margin: 0;
  text-align: center;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    width: 240px;
    margin: 0 auto;
    margin-bottom: 35px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }
}

.information__description {
  margin: 0;
  margin-bottom: 48px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $menu-color;

  @media (min-width: $tablet-width) {
    width: 310px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    width: 248px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}


.information__item:not(:last-child) {
  margin-bottom: 43px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }
}
