// @import ("blocks/intro.scss");

.intro {
  z-index: -1;
  position: relative;
  padding-top: 66px;
  margin-top: -66px;
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-color: $blueblack;

  @media (min-width: $tablet-width) {
    padding-top: 110px;
    margin-top: -110px;
    background-image: url("../img/back-tablet.png");
    background-repeat: no-repeat;
    background-position: 50% -3px;
    background-size: cover;
  }

  @media (min-width: $desktop-width) {
    padding-top: 110px;
    margin-top: -110px;
    background-image: url("../img/back-desktop.png");
    background-repeat: no-repeat;
  }
}

.intro__img {
  z-index: 0;
  margin-left: -20px;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 40px;
    top: 596px;
    z-index: 0;
    margin-top: -110px;
  }

  @media (min-width: $desktop-width) {
    z-index: 0;
    margin-top: -110px;
  }
}

.intro__wrapper {
  width: 280px;
  margin: auto;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-left: 0;
    margin-right: auto;
    padding-left: 20px;
    padding-bottom: 119px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    padding-left: 130px;
    padding-bottom: 130px;
  }
}

.intro__container {
  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0 auto;
  }
}

.intro__title {
  z-index: 2;
  width: 230px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 34px;
  margin-top: 30px;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $white;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 194px;
    margin-top: 102px;
    font-weight: 300;
    font-size: 40px;
    line-height: 120%;
  }

  @media (min-width: $desktop-width) {
    width: 241px;
    margin-top: 114px;
    font-size: 50px;
    line-height: 68px;
  }
}

.intro__toggle {
  margin: 0 auto;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  border-radius: 29px;
  display: inline-block;
  color: $white;
  border: 3px solid $white;
  padding: 18px 36px 18px 35px;
  margin-bottom: 32px;
  margin-top: 28px;

  &:hover,
  &:focus {
    color: $pink;
    background-color: $white;
  }

  @media (min-width: $tablet-width) {
    padding: 18px 46px 18px 45px;
    margin: 0;
    margin-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    padding: 17px 29px 17px 28px;
  }
}

.intro__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $white;
  width: 280px;
  text-align: center;
  margin: auto;
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    width: 300px;
    padding: 0;
    font-size: 18px;
  }
}

.intro__list {
  @include list-style;
  display: flex;
  width: 204px;
  justify-content: space-between;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
  }
}

.intro__item {
  align-self: center;
}
