// @import ("blocks/main-nav.scss");

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// меню в закрытом состоянии

.main-nav__wrapper {
  width: 280px;
  left: 0;
  right: 0;
  top: 66px;
  text-align: center;
  background-color: $menu-color;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    display: inline;
    z-index: 2;
  }
}

// кнопка в закрытом состоянии меню по макету

.main-nav__toggle {
  position: relative;
  padding: 0;
  display: block;
  width: 50px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: $white;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;

  @media (min-width: $desktop-width) {
    display: none;
  }
}
