// @import "blocks/modal-windows.scss";

.modal-failure__title,
.modal-success__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: $black;
}

.modal-failure__text,
.modal-success__text {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $menu-color;
}

.modal-failure__button {
  @include button-style;
}

.modal-success__button {
  @include button-style;
}
