// @import "blocks/modal-success.scss";


.modal-success {
  display: none;
  position: fixed;
  width: 320px;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
  box-shadow: 1px 7px 15px rgba(0, 1, 1, 0.15);

  @media (min-width: $tablet-width) {
    width: 460px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
  }
}

.modal-success__title {
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
  padding-top: 44px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: $black;

  @media (min-width: $tablet-width) {
    width: 260px;
    margin: 0 auto;
    margin-bottom: 37px;
    font-size: 30px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 396px;
  }
}

.modal-success__text {
  width: 265px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 41px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $menu-color;

  @media (min-width: $tablet-width) {
    width: 330px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 378px;
  }
}

br {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.modal-success__button-wrapper {
  background-color: $lightgrey;
  padding: 52px 22px 52px 22px;

  @media (min-width: $tablet-width) {
    padding: 52px 82px 52px 83px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 162px 52px 162px;
  }
}

.modal-success__button {
  @include button-style;
  padding: 23px 65px 23px 66px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 23px 75px 23px 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 23px 155px 23px 156px;
  }
}
