// @import "blocks/modal-failure.scss";


.modal-failure {
  display: none;
  position: fixed;
  width: 320px;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
  box-shadow: 1px 7px 15px rgba(0, 1, 1, 0.15);

  @media (min-width: $tablet-width) {
    width: 460px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
  }
}

.modal-failure__title {
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
  padding-top: 44px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: $black;

  @media (min-width: $tablet-width) {
    width: 260px;
    margin: 0 auto;
    margin-bottom: 37px;
    font-size: 30px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 396px;
  }
}

.modal-failure__text {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $menu-color;

  @media (min-width: $tablet-width) {
    width: 320px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 378px;
  }
}

.modal-failure__button-wrapper {
  @media (min-width: $desktop-width) {
    padding: 52px 162px 52px 162px;
    background-color: $lightgrey;
  }
}

.modal-failure__button {
  @include button-style;
  margin-left: 22px;
  margin-bottom: 52px;
  padding: 23px 124px 23px 125px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin-left: 82px;
    margin-bottom: 54px;
    padding: 23px 134px 23px 135px;
  }

  @media (min-width: $desktop-width) {
    padding: 23px 155px 23px 156px;
  }
}
