// @import "blocks/page-footer.scss";


.page-footer {
  padding-top: 33px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 36px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 18px;
    padding-bottom: 75px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: auto;
  }
}

.page-footer__logo {
  align-self: center;
  margin-bottom: 32px;


  @media (min-width: $tablet-width) {
    margin: 0;
    align-self: stretch;
  }
}


.page-footer__social {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

// Стайлгайд

.page-footer__logo:hover path,
.page-footer__logo:focus path {
  fill: $pink;
}

.page-footer__logo:active path:nth-child(1),
.page-footer__logo:active path:nth-child(2),
.page-footer__logo:active path:nth-child(3),
.page-footer__logo:active path:nth-child(4) {
  opacity: 0.3;
  fill: $menu-color;
}

.page-footer__logo:active path:nth-child(5) {
  opacity: 0.3;
}
