// @import ("blocks/reviews.scss");

.reviews__item:nth-child(2),
.reviews__item:nth-child(3) {
  display: none;
}

.reviews__wrapper {
  padding-top: 50px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.reviews__list {
  @include list-style;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 620px;
  }
}

// Кавычки

.reviews__wrapper::before {
  content: "";
  position: absolute;
  left: 678px;
  top: -153px;
  width: 79px;
  height: 63px;
  background-image: url("../img/quotes.png");
}

// Стрелки

.reviews__left-arrow {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
    position: absolute;
    left: 250px;
    top: 10px;
    border: none;
    background: transparent;
  }
}

.reviews__right-arrow {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
    position: absolute;
    left: 1143px;
    top: 10px;
    border: none;
    background: transparent;
  }
}

.reviews__left-arrow:hover path,
.reviews__left-arrow:focus path,
.reviews__right-arrow:hover path,
.reviews__right-arrow:focus path {
  opacity: 0.6;
}

.reviews__left-arrow:active path,
.reviews__right-arrow:active path {
  opacity: 0.1;
}

// Другие стили

.reviews__blockquote {
  display: flex;
  flex-direction: column;
}

.reviews__author-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    order: 2;
    font-size: 20px;
    width: 190px;
    margin: auto;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    width: 224px;
    margin-bottom: 41px;
    font-size: 24px;
  }
}

.reviews__span {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $menu-color;

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  margin-top: 31px;
  margin-bottom: 44px;
  color: $menu-color;

  @media (min-width: $tablet-width) {
    order: 0;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 51px;
  }
}

.reviews__item blockquote {
  margin: 0;
  padding: 0;
}

.reviews__toggles {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 60px;
  padding-left: 19px;

  @media (min-width: $desktop-width) {
    display: none;
  }
}
