// @import ("blocks/reviews.scss");

.reviews__item:nth-child(2),
.reviews__item:nth-child(3) {
  display: none;
}

.reviews__wrapper {
  padding-top: 50px;

  @media (min-width: $tablet-width) {
    margin-top: 109px;
    padding-top: 0;
  }
}

.reviews__list {
  @include list-style;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 620px;
  }
}

.reviews__blockquote {
  display: flex;
  flex-direction: column;
}

.reviews__author-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    order: 2;
    font-size: 20px;
    width: 190px;
    margin: auto;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    width: 224px;
    font-size: 24px;
  }
}

.reviews__span {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $menu-color;

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  margin-top: 31px;
  margin-bottom: 44px;
  color: $menu-color;

  @media (min-width: $tablet-width) {
    order: 0;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 51px;
  }
}

.reviews__item blockquote {
  margin: 0;
  padding: 0;
}

.reviews__toggles {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 60px;
}

.reviews__toggle {
  padding: 0;
  background-color: $menu-color;
  opacity: 0.3;
  border: none;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  margin-right: 19px;
}

.reviews__toggle--current {
  width: 12px;
  height: 12px;
  background-color: $white;
  border: 3px solid $menu-color;
  opacity: 1;
}
