// @import "blocks/slider-toggles.scss";

.slider-toggles {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 56px;
}

.slider__toggle {
  background-color: $menu-color;
  opacity: 0.3;
  border: none;
  border-radius: 50%;
  width: 6px;
  height: 6px;
}

.slider__toggle--current {
  width: 6px;
  height: 6px;
  background-color: $white;
  border: 3px solid $menu-color;
  opacity: 1;
}
