// @import "blocks/table-price";

.table-price {
  background-color: $lightgrey;
}

.table-price__wrapper {
  padding-top: 81px;
}

.table-price__list {
  margin-bottom: 45px;
}

.table-price__toggles {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 55px;
}

.table-price__table-head {
  background-color: $menu-color;
  width: 276px;
}

.table-price__table-head:first-child {
  background-color: $lightgrey;
}

.table-price__table-head p {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: $white;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.table-price__table-head span {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: $white;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.table-price__table-data {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $menu-color;

  @media (min-width: $tablet-width) {
    text-transform: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

td:not(:first-child) {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.table-price__pink {
  padding: 28px 20px 21px 20px;
}

.table-price__smile {
  padding: 25px 175px 24px 20px;
}

.table-price__comment {
  padding: 24px 20px 25px 20px;
}
