// @import "blocks/users-photo.scss";

// Catalog


.users-photo__title-container {
  z-index: -1;
  position: relative;
  padding-top: 66px;
  margin-top: -66px;
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-color: $blueblack;

  @media (min-width: $tablet-width) {
    padding-top: 110px;
    margin-top: -110px;
    background-image: url("../img/back-tablet.png");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    padding-top: 110px;
    margin-top: -110px;
    background-image: url("../img/back-desktop.png");
    background-repeat: no-repeat;
  }
}

.users-photo__title {
  width: 230px;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 77px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $white;

  @media (min-width: $tablet-width) {
    width: 358px;
    padding-top: 68px;
    padding-bottom: 125px;
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: $desktop-width) {
    width: 357px;
    padding-top: 74px;
    padding-bottom: 104px;
  }
}

.users-photo__list {
  @include list-style;

  @media (min-width: $tablet-width) {
    display: grid;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.users-photo__list--grid-container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.users-photo__item--anna {
  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.users-photo__item {
  display: flex;
  flex-direction: column;
  background-color: $lightgrey;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }
}


// Выравнивание элементов каталога в гриде


.users-photo__item:nth-child(2) {
  @media (min-width: $tablet-width) {
    margin-right: 10px;
    margin-top: 23px;
  }
}

.users-photo__item:nth-child(3) {
  @media (min-width: $tablet-width) {
    margin-left: 10px;
    margin-top: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 10px;
  }
}

.users-photo__item:nth-child(4) {
  @media (min-width: $tablet-width) {
    margin-right: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-left: 10px;
  }
}

.users-photo__item:nth-child(5) {
  @media (min-width: $tablet-width) {
    margin-left: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 10px;
    margin-left: 0;
  }
}

.users-photo__item:nth-child(6) {
  @media (min-width: $tablet-width) {
    margin-right: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 10px;
  }
}

.users-photo__item:nth-child(7) {
  @media (min-width: $tablet-width) {
    margin-left: 10px;
  }
}

// Выравнивание "нравиться"

.users-photo__flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}


//

.users-photo__text {
  width: 253px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $menu-color;
  text-align: center;
  padding: 44px 20px 60px 20px;

  @media (min-width: $tablet-width) {
    width: 570px;
    padding: 93px 20px 85px 20px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 572px;
    padding: 92px 20px 97px 20px;
  }
}

// общие стили для блоков blockquote

.users-photo__blockquote {
  padding: 19px 17px 25px 17px;

  @media (min-width: $tablet-width) {
    padding: 30px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding: 31px 27px;
  }
}

// Выравнивание блоков blockquote по одному


.users-photo__blockquote--anna {
  padding: 19px 13px 25px 15px;

  @media (min-width: $tablet-width) {
    padding: 40px 13px 25px 30px;
  }
}

.users-photo__blockquote--levon {
  padding: 9px 17px 25px 17px;
}

.users-photo__blockquote--anton {
  padding: 8px 17px 25px 17px;
}

.users-photo__blockquote--boris,
.users-photo__blockquote--maksim {
  padding: 10px 17px 25px 17px;
}

.users-photo__blockquote--sergey,
.users-photo__blockquote--nadejda {
  padding: 9px 17px 25px 17px;
}

.users-photo__panorama {
  position: absolute;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  color: $white;
  background-color: $pink;
  padding: 6px 20px 6px 19px;
  text-transform: uppercase;
  margin-left: 160px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.users-photo__author {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: $menu-color;
  margin-bottom: 14px;
}

.users-photo__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $menu-color;
}

.users-photo__item blockquote {
  margin: 0;
}

.users-photo__item p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $menu-color;
  margin: 0;
  margin-bottom: 11px;
  flex: 1 0 auto;
}

.users-photo__item--anna p {
  margin-bottom: 10px;
}

.users-photo__likes {
  display: block;
  position: relative;
  margin-left: 31px;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $pink;
  flex: 0 0 auto;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.users-photo__likes--absolute {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 33px;
    left: 474px;
  }

  @media (min-width: $desktop-width) {
    left: 789px;
  }
}

.users-photo__likes::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -31px;
  width: 13px;
  height: 12px;
  background-image: url("../img/catalog/heart.svg");

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.users-photo__likes::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: auto;
    width: 13px;
    height: 12px;
    background-image: url("../img/catalog/heart.svg");
  }
}

.users-photo__likes--absolute::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 105px;
    width: 13px;
    height: 12px;
    background-image: url("../img/catalog/heart.svg");
  }
}


// Выключаю перенос br

.users-photo__br-anna {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
